  
* {box-sizing: border-box ;}

@font-face {
  font-family:'Quicksand-Regular';
  src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Champagne & Limousines';
  src: url( '../fonts/Champagne & Limousines.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'GreatVibes-Regular';
  src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


h1 
{
color: rgb(208, 125, 0);
font-family:'GreatVibes-Regular';
font-size: 16vh;
text-align: center;
letter-spacing: -0.05rem;
padding: 0 0.5rem;
text-shadow: 0px 11px 10px rgba(81,67,21,0.8);

}

h2  
{
color: rgb(78, 42, 63);
font-family:'Champagne & Limousines';
font-size: 20px;
/* 16px = 1 rem */
text-align: left;
}

      
h3  
{
  color:rgb(81, 150, 165);
  font-family:'Champagne & Limousines';
  font-size: 30px;
}
  

a:visited 
{
  color: rgb(71, 72, 136);
  text-decoration-color: rgb(113, 177, 255);
    
} 

p 
 {
    font-size: 1.4rem; 
    font-family:'Quicksand-Regular';
    /**background-color: rgba(214, 236, 255, 0.465);**/
    line-height: 1.4;
    font-weight: lighter;
 }
  

figcaption
{
  font-family:'Quicksand-Regular';
  text-align:left;
  color: rgb(160, 82, 45);
}
     
/**img{
  height: auto;
  width: 100%;

}**/

.box-one{
  font-family:'Quicksand-Regular';
}

body
{ 
  color: rgb(26, 26, 49);
  margin-top: 1em;
  padding: 1em;
} 
